<div class="project1 project">
  <div class="our-projects-title">OUR PROJECTS</div>
  <div class="project-block">
    <div class="project-content">
      <div class="project-title">Project 1</div>
      <div class="project-info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        corrupti ea quam ex, omnis culpa enim incidunt sunt nobis. Totam
        cupiditate omnis consequatur error eveniet eaque repellat excepturi
        aut id. Illo corrupti aliquid voluptas voluptatum esse unde neque
        voluptatibus quam, ad impedit alias? Dolorem laboriosam at sequi
        blanditiis fugit earum.
      </div>
    </div>
    <div class="images">
      <div class="image1">
        <img src="assets/images/9.png" alt="" />
      </div>
      <div class="image2">
        <img src="assets/images/10.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- <div class="project2 project">
  <div class="project-block">
    <div class="project-content">
      <div class="project-title">Project 2</div>
      <div class="project-info">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores
        voluptates veniam soluta doloribus quisquam, recusandae alias natus
        distinctio nostrum. In aspernatur sunt dolore error. Vitae harum ipsa
        repellendus aliquid voluptate nisi dolore sed accusamus, aperiam
        eveniet magni veritatis hic aut inventore suscipit asperiores!
        Pariatur soluta, doloremque blanditiis laborum reiciendis culpa.
      </div>
    </div>
    <div class="images">
      <div class="image1">
        <img src="assets/images/9.png" alt="" />
      </div>
      <div class="image2">
        <img src="assets/images/10.png" alt="" />
      </div>
    </div>
  </div>
</div> -->