.page-one-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 30px;
  font-family: 'roboto', arial;
  font-weight: 900;
  background-color: rgb(134, 202, 220);
}

.header-home {
  text-align: right;
}

.header-donations {
  text-align-last: left;
}

.header-home,
.header-donations {
  width: 200px;
  text-decoration: none;
  color: black;
}

.header-our-projects {
  width: 300px;
  text-decoration: none;
  color: black;
}