<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/> -->
  </head>
  <body>
    <div class="page-one">
      <header class="page-one-header">
        <a class="header-home" routerLink="Home">HOME</a>
        <div style="width: 400px"></div>
        <a class="header-our-projects" routerLink="Projects">OUR PROJECTS</a>
        <a class="header-donations" routerLink="Donations">DONATIONS</a>
      </header>
    </div>
  </body>
</html>

<!-- Do not delete this -->
<router-outlet></router-outlet>
