<div class="page">
  <div class="title">Donations</div>
  <div class="content">
    <div class="row heading">
      <div class="name">Name</div>
      <div class="amount-in-USD">Amount in USD</div>
      <div class="amount-in-LKR">Amount in LKR</div>
    </div>
    <div class="row donar1">
      <div class="name">Dylan Lokugamhewa</div>
      <div class="amount-in-USD">$ 440</div>
      <div class="amount-in-LKR">Rs 140,000</div>
    </div>
    <!-- <div class="row donar2">
      <div class="name">Person 2</div>
      <div class="amount-in-USD">200</div>
      <div class="amount-in-LKR">70,000</div>
    </div> -->
  </div>
</div>
