<div>
  <div class="page-one">
    <div class="page-one-content">
      <div class="logo-container">
        <img class="logo" src="/assets/images/logo.png" alt="" />
      </div>
      <div class="name-container">
        <div class="text-logo">
          <img class="text-logo-flower" src="/assets/images/Flower.png" alt="" />
        </div>
        <div class="project-name">
          <div>NELUM KEKULU</div>
          <div>CHILDREN</div>
          <div>PROGRAMME</div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-two">
    <div class="page-two-topic">About Us</div>
    <div class="page-two-content">
      <p>
        Charities for children are a positive way to impacat a child's future
        by connecting with vulnerable children who desperately need someone to
        speak for them. As children are our future and every child deserves a
        future, each human soul has the humanitarian desire to help these
        children and make the world a better place. Nelum Kekulu children
        program is initiated with the vision of helping children in need. Our
        mission is to visit district wise in Sri Lanka and help the children
        in need to make their future a better place.
      </p>
      <p>
        දරුවන් අපගේ අනාගත පරපුර බැවින්, සමාජ ගත නොවු දිළිඳු දරුවන්ගේ 
        සුභ සාධනය වෙනුවෙන් යම් කෙනෙකු හඩ නැගිය යුතු ය. මෙය සෑම 
        වැසියෙකුගේම යුතුකම හා වගකීම යි. එවැනි දරුවන් හට පැහැබර අනාගතයක්
        උදා කර දීම උදෙසා මෙම නෙලුම් කැකුළු ළමා වැඩසටහන ස්ථාපනය කර ඇත. 
        ඒ සදහා ගමින් ගමට ගොස් එවන් දරුවන් හට උදව් කිරීම මෙම වැඩසටහනේ මූලික පරමාර්ථයයි.
      </p>
      <p>
        Gli enti di beneficenza per i bambini sono un modo positivo per influenzare il futuro di un bambino collegandosi
        con bambini vulnerabili che hanno un disperato bisogno di qualcuno che parli per loro. Poiché i bambini sono il
        nostro futuro e ogni bambino merita un futuro, ogni anima umana ha il desiderio umanitario di aiutare questi
        bambini e rendere il mondo un posto migliore. Il programma per bambini Nelum Kekulu nasce con l'obiettivo di
        aiutare i bambini bisognosi. La nostra missione è visitare i distretti dello Sri Lanka e aiutare i bambini
        bisognosi a rendere il loro futuro un posto migliore.
      </p>
    </div>
  </div>
  <div class="page-three">
    <div class="page-three-one">Owner</div>
    <div class="page-three-two">
      <div class="page-three-two-picture">
        <img src="assets/images/owner.jpeg" />
      </div>
      <div class="page-three-two-content">
        <h1>Dylan Lokugamhewa</h1>
        <p>
          A Sri Lankan citizen living in Italy for nearly 25 years working as
          a night manager in a leading hotel in Italy who began the program
          with the intention of assisting children with their basic needs.
          To set a good example for his daughters and demonstrate the value
          of helping those in need, he has included his two daughters, 
          Ruvisha Nayeli Lokugamhewa and Keshika Dinuki Lokugamhewa
        </p>
      </div>
    </div>
  </div>
  <div class="page-four">
    <div class="page-four-heading">Our Team</div>
    <div class="page-four-content">
      <div class="page-four-row">
        <div class="block">
          <div class="block-image">
            <img src="/assets/images/team member1.jpeg" alt="" />
          </div>
          <div class="block-name">Derik Lokugamhewa</div>
          <div class="block-position">Retired State Superintendent</div>
        </div>
        <div class="block">
          <div class="block-image">
            <img src="/assets/images/team member2.jpeg" alt="" />
          </div>
          <div class="block-name">Shiraz Jaldin</div>
          <div class="block-position">Retired Wing Commander Srilanka Airforce</div>
        </div>
        <div class="block">
          <div class="block-image">
            <img src="/assets/images/team member3.jpeg" alt="" />
          </div>
          <div class="block-name">Pavitra Lokugamhewa</div>
          <div class="block-position">Senior Assistant Accountant</div>
        </div>
      </div>
      <div class="page-four-row">
        <div class="dummy-block"></div>
        <div class="block">
          <div class="block-image">
            <img src="/assets/images/team member4.jpeg" alt="" />
          </div>
          <div class="block-name">Shamal Fonseka</div>
          <div class="block-position">Head of IT ( Nawaloka Group )</div>
        </div>
        <div class="dummy-block"></div>
        <div class="block">
          <div class="block-image">
            <img src="/assets/images/team member5.jpeg" alt="" />
          </div>
          <div class="block-name">Chamara Manawathilake</div>
          <div class="block-position">Engineer / Fomer Project Manager</div>
        </div>
        <div class="dummy-block"></div>
      </div>
    </div>
  </div>
  <div class="page-five">
    <div class="page-five-topic">Contact Us</div>
    <div class="page-five-content">
      <div class="page-five-content-Email">
        <h2>Email Address</h2>
        <p>nelumkekulu2023@gmail.com</p>
      </div>
      <div class="page-five-content-Number">
        <h2>Phone Number</h2>
        <p> Italian - 0039 333 125 8789</p>
        <p>Sri Lankan - 0094 0778948075</p>
      </div>
      <!-- <button class="page-five-content-donate">DONATE</button> -->
    </div>
    <!-- <div class="page-five-trademarks">Legal trademarks</div> -->
  </div>
</div>