<div>
  <div class="page-one">
    <div class="page-one-content">
      <div class="logo-container">
        <img class="logo" src="/assets/images/logo.png" alt="" />
      </div>
      <div class="name-container">
        <div class="text-logo">
          <img
            class="text-logo-flower"
            src="/assets/images/Flower.png"
            alt=""
          />
        </div>
        <div class="project-name">
          <div>NELUM KEKULU</div>
          <div>CHILDREN</div>
          <div>PROGRAMME</div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-two">
    <div class="page-two-topic">About Us</div>
    <div class="page-two-content">
      <p>
        Charities for children are a positive way to impacat a child's future by
        connecting with vulnerable children who desperately need someone to
        speak for them. As children are our future and every child deserves a
        future, each human soul has the humanitarian desire to help these
        children and make the world a better place. Nelum Kekulu children
        program is initiated with the vision of helping children in need. Our
        mission is to visit district wise in Sri Lanka and help the children in
        need to make their future a better place.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ad, earum
        dolor voluptate possimus et voluptates aspernatur enim ducimus esse ut
        iusto ab sint quo eveniet vero tenetur neque. Fugit nihil mollitia
        dolorem aspernatur obcaecati. Libero vero eius cupiditate sequi?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        numquam tempora est, ducimus tenetur nostrum sapiente obcaecati id harum
        delectus explicabo aspernatur rerum aliquam cupiditate ipsam voluptates
        facilis dolores quod deleniti beatae repellendus, ipsa blanditiis
        eligendi. Velit eligendi labore neque.
      </p>
    </div>
  </div>
  <div class="page-three">
    <div class="page-three-one">Owner</div>
    <div class="page-three-two">
      <div class="page-three-two-picture">
        <img src="icons/male-silluette.svg" alt="icons/male-silluette.svg" />
      </div>
      <div class="page-three-two-content">
        <h1>Dylan Lokugamhewa</h1>
        <p>
          A Sri Lankan citizen living in Italy for nearly 25 years working as a
          night manager in a leading hotel in Italy who began the program with
          the intention of assisting children with their basic needs.
        </p>
      </div>
    </div>
  </div>
  <div class="page-four">
    <div class="page-four-heading">Our Team</div>
    <div class="page-four-content">
      <div class="page-four-row">
        <div class="block">
          <div class="block-image">
            <img
              src="/assets/images/istockphoto-1393750072-612x612.svg"
              alt=""
            />
          </div>
          <div class="block-name">Firstname Surename</div>
          <div class="block-position">Position</div>
        </div>
        <div class="block">
          <div class="block-image">
            <img
              src="/assets/images/istockphoto-1393750072-612x612.svg"
              alt=""
            />
          </div>
          <div class="block-name">Firstname Surename</div>
          <div class="block-position">Position</div>
        </div>
        <div class="block">
          <div class="block-image">
            <img
              src="/assets/images/istockphoto-1393750072-612x612.svg"
              alt=""
            />
          </div>
          <div class="block-name">Firstname Surename</div>
          <div class="block-position">Position</div>
        </div>
      </div>
      <div class="page-four-row">
        <div class="dummy-block"></div>
        <div class="block">
          <div class="block-image">
            <img
              src="/assets/images/istockphoto-1393750072-612x612.svg"
              alt=""
            />
          </div>
          <div class="block-name">Firstname Surename</div>
          <div class="block-position">Position</div>
        </div>
        <div class="dummy-block"></div>
        <div class="block">
          <div class="block-image">
            <img
              src="/assets/images/istockphoto-1393750072-612x612.svg"
              alt=""
            />
          </div>
          <div class="block-name">Firstname Surename</div>
          <div class="block-position">Position</div>
        </div>
        <div class="dummy-block"></div>
      </div>
    </div>
  </div>
  <div class="page-five">
    <div class="page-five-topic">Contact Us</div>
    <div class="page-five-content">
      <div class="page-five-content-Email">
        <h2>Email Address</h2>
        <p>hello@reallygreatsite.com</p>
      </div>
      <div class="page-five-content-Number">
        <h2>Phone Number</h2>
        <p>123 456 7890</p>
      </div>
      <button class="page-five-content-donate">DONATE</button>
    </div>
    <div class="page-five-trademarks">Legal trademarks</div>
  </div>
</div>
