<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
    
    <!-- <img src="/assets/images/logo.png" class="rounded float-left" > -->
    <br>
    <div class="row">
        <div class="col-md-4">
              <img src="/assets/images/logo.png" style=>
        </div>
        <div class="col-md-4" style="text-align: right;">
              <h1>NELUM KEKULU</h1>
              <h1>CHILDREN</h1>
              <h1>PROGRAMME</h1>
        </div>
        </div>
</body>
</html>

